/*
< 768 (mobile)
768 - sm (tablet)
992 - md (desktop)
1200 - lg (lg desk)
*/


body {
  background-color: #60d672;
  background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 100px 100px;
}
.container-fluid {
  margin: 0 auto;
  background-color: lightgray;
  width:75%;
}

i {
  color: white;
  float: right;
  padding: 10px;

}
#nav {
  height: 45px;
  background-color: navy;
}
#navbar {
  width: 75%;
  background-color: gray;
  margin: 0 auto;
}

#navbar > div > ul > li {
  border: none;
  background-color: black;
  text-align: center;
  width: 85%;
  margin: 10px auto;
}

#navbar div ul li a {
  color: white;
}

#navbar div ul li a:hover {
  border-radius: 0;
  color: blue;
}

.post {
     background-color: darkgray;
    padding: 5px 12px 12px;
    margin: 10px 0px;
}
.post p {
  margin: 5px 0 10px;
}
.btn-default {
    border-radius: 0;
    padding: 4px;
    background-color: lightgreen;
}

#top-banner img{
   margin: 0 auto;
}

#main-content {
  float:left;
  
}

#sidebar-md {
  background-color: darkgray;
  padding: 10px 20px;
}

.sidebar-footer-columns {
  width: 33%;
  float: left;
  background-color: darkgray;
  padding: 10px 24px;
}
.sidebar-footer-columns a {
  margin-left: 20px;
}

footer {
  margin: 0 auto;
  background-color: gray;
  color: white;
  text-align: center;
  padding:5px;
  
}

@media only screen and (min-width: 768px) {
  .post {
    padding: 1px 9px 6px;
    width:65%;
    float:left;
  }

  #sidebar-md {
    float:right;
    
    width: 32%;
  }

    #sidebar-md a {
      margin-left: 10px;
  }
}